
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Paris-based fashion designer creating elegant and sophisticated pieces.</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">Find inspiration from Paris and create elegant and sophisticated pieces, working with manufacturers to produce and sell garments through various channels.</span>
      </h4>
    </div>
  </div>
</div>
